:root {
  --primary: #2B2B2B;
  --background: #EEE;
  --text: #222;
  --invtext: #EEE;
  --invtextd: #8B8D8E;
  --accent: #144E38;
  --accentl: #017B4D;
  --accentd: #23352F;
}
body {
  background-color: var(--background);
  overflow-x: hidden;
}
.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-areas:
        "image1"
        "body1"
        "image2"
        "body2"
        "image3"
        "body3"
        "image4"
        "body4"
        "image5"
        "body5"
        "image6"
        "body6"
        "footer"
}
.item {
  padding: 1em;
}
nav {
  color: #00ffff;
  background-color: var(--primary);
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1em;
}
nav a:link, nav a:visited {
  color: var(--invtext);
  text-decoration: none;
}
nav a:hover  {
  color: var(--invtextd);
  text-decoration: underline;
}
.expo {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.expo img {
  width: 100%;
  height: auto;
}
.title {
  background: url("../assets/owbanner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--primary);
  font-size: 11vw;
  line-height: 23vw;
  text-align: center;
  color: var(--accentl);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--primary);
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: auto;
  font-family: "Lucida Console";
}
.title img {
  width: 100%;
  height: auto;
}
#banner1 {
  display: none;
}
#banner2 {
  display: none;
}
.image1 {
  background-image: linear-gradient(var(--accentd), var(--accentl), var(--background));
  display: flex;
  justify-content: center;
  grid-area: image1;
  height: auto;
}
.body1 {
  grid-area: body1;
}
.image2 {
  background-image: linear-gradient(var(--accentd), var(--accentl), var(--background));
  display: flex;
  justify-content: center;
  grid-area: image2;
  max-height: 350px;
}
.body2 {
  grid-area: body2;
}
.image3 {
  background-image: linear-gradient(var(--accentd), var(--accentl), var(--background));
  display: flex;
  justify-content: center;
  grid-area: image3;
  height: 350px;
}
.body3 {
  grid-area: body3;
}
.image4 {
  background-image: linear-gradient(var(--accentd), var(--accentl), var(--background));
  display: flex;
  justify-content: center;
  grid-area: image4;
  height: 350px;
}
.body4 {
  grid-area: body4;
}
.image5 {
  background-image: linear-gradient(var(--accentd), var(--accentl), var(--background));
  display: flex;
  justify-content: center;
  grid-area: image5;
  height: 350px;
}
.body5 {
  grid-area: body5;
}
.image6 {
  background-image: linear-gradient(var(--accentd), var(--accentl), var(--background));
  display: flex;
  justify-content: center;
  grid-area: image6;
  height: 350px;
}
.body6 {
  grid-area: body6;
}
.footer {
  justify-self: center;
  grid-area: footer;
}

@media screen and (min-width: 556px) {
  .title {
    font-size: 8.1vw;
  }
  #banner3 {
    display: none;
  }
  #banner2 {
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 5.6vw;
  }
  #banner2 {
    display: none;
  }
  #banner1 {
    display: inline;
  }
  .image1 {
    background-image: linear-gradient(to right, var(--accentd), var(--accentl), var(--background));
  }
  .body1 {
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
  }
  .image2 {
    background-image: linear-gradient(to right, var(--background), var(--accentl), var(--accentd));
  }
  .body2 {
    text-align: right;
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
  }
  .image3 {
    background-image: linear-gradient(to right, var(--accentd), var(--accentl), var(--background));
  }
  .body3 {
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
  }
  .image4 {
    background-image: linear-gradient(to right, var(--background), var(--accentl), var(--accentd));
  }
  .body4 {
    text-align: right;
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
  }
  .image5 {
    background-image: linear-gradient(to right, var(--accentd), var(--accentl), var(--background));
  }
  .body5 {
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
  }
  .image6 {
    background-image: linear-gradient(to right, var(--background), var(--accentl), var(--accentd));
  }
  .body6 {
    text-align: right;
    border-bottom-style: solid;
    border-bottom-color: var(--accent);
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
          "image1 body1 body1"
          "body2 body2 image2"
          "image3 body3 body3"
          "body4 body4 image4"
          "image5 body5 body5"
          "body6 body6 image6"
          "footer footer footer"
  }
}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1280px) {}
@media screen and (min-width: 1440px) {}
